@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(139, 201, 255);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(167, 214, 255);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
